<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"
            rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body>
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">BeeJee Test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="btn btn-outline-success" href="#">Login</a>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">

    <h1 class="mt-5">Tasks</h1>

    <div class="row mb-2">
        <div class="col-12">
            <button class="btn float-right">
                <i class="fa fa-arrow-up"></i>
            </button>

            <select class="browser-default custom-select float-right mr-2 ml-2" style="width: auto;">
                <option value="date">Date</option>
                <option value="name">Name</option>
                <option value="email">Email</option>
                <option value="status">Status</option>
            </select>

            <p class="float-right pt-2">Order</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <span class="float-right">2020-07-10</span>
            <b>Username: </b><a>User Name</a>
            <b>Email: </b><a>user@email.com</a>
        </div>

        <div class="card-body">Task description</div>

        <div class="card-footer">
            <span class="float-right"><span class="btn btn-success">Edit</span></span>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <span class="float-right">2020-07-10</span>
            <b>Username: </b><a>User Name</a>
            <b>Email: </b><a>user@email.com</a>
        </div>

        <div class="card-body">Task description</div>

        <div class="card-footer">
            <span class="float-right"><span class="btn btn-success">Edit</span></span>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <span class="float-right">2020-07-10</span>
            <b>Username: </b><a>User Name</a>
            <b>Email: </b><a>user@email.com</a>
        </div>

        <div class="card-body">Task description</div>

        <div class="card-footer">
            <span class="float-right"><span class="btn btn-success">Edit</span></span>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Test for BeeJee Interview © Ildar Sarinzhanov</span>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>